#searchbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#address_input {
    width: 50%;
}

tr:hover {
    background-color: lightgrey;
}