html {
    height: 100%;
    /*verflow-x: hidden;*/
}

body {
    height: 100%;
}

.App {
    position: absolute;
    top: 0%;
    left: 0%;

    height:100%;
    width: 100%;

    background-color: white;
}

/* Main structure */
#banner {
    background-color: white;
}

#control {
    background-color: white;
}

#loader {
    background-color: white;

    height: 100px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    visibility: hidden;
}

#site_informaiton {
    background-color: white;
}

#values_informaiton {
    background-color: white;

    display: flex;
    text-align: left;
    align-items: top;
    justify-content: center;
}

#address_information {
    background-color: #b3b3b3; 

    height: 50px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    visibility: hidden;
}

#graph_box {
    background-color: white;
}

/* Control elements */
label {  
    color: gray;

    font-size: 12pt;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select {
    background-color: white;
    color: gray;

    width: 90px;
    height: 30px;

    margin: 20px;
    padding: 3px;

    font-size: 12pt;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    border: 1px solid black;
    border-radius: 8px;

    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
select:focus {
    outline: none;
}

#button {
    background-color: white;
    color: gray;
    
    width: 135px;
    height: 30px;

    font-size: 12pt;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    border: 1px solid black;
    border-radius: 8px;

    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
#button:hover {
    cursor: pointer;
}
#button:active {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
#button:focus {
    outline: none;
}

/* Loader elements */
#progressbar{
    background-color: lightgray;

    height: 30px;
    width: 500px;

    margin-left: auto;
    margin-right: auto;
}
#progress{
    background-color: gray;

    height: 100%;
    width: 0%;

    color: white;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    font-size: 12pt;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* values_information elements */
#text {
    width: 200px;
    height: 100%;

    margin-left:10px;
}

/* address_information elements */
.labels {
    margin-right: 1%;
    font-weight: 900;
    color: rgb(126, 126, 126);
    
}
.values {
    font-weight: 500;
    margin-right: 5%;
    color: rgb(68, 68, 68);
}


/* Graph_box elements */
.node {
    fill: lightblue;
    stroke: #777;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

#node_account {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: lightblue;
  }
  #node_contract {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: orange;
  }

svg {
    background-color: white;

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    border-left: 1px solid #8c8c8c;
    border-right: 1px solid #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
}

